
<div class="row g-0">
    <div id="photoContainer" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-3" >
        <img id="photo" src="../../../assets/foto perfil.PNG" alt="Foto del desarrollador" class="img-fluid rounded-circle float-left">
    </div>
    <div class="d-flex justify-content-center align-items-center col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <p class="text-center h2 text-name">Mario Adrian Turk <br> Desarrollador Fullstack Jr.</p>
    </div>
</div>
<div class="row justify-content-end g-0">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 text-center">
        <span>
            <h1>Acerca de mi:</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus consequatur similique in quasi labore debitis placeat deserunt. Similique rerum ipsum aspernatur vero! Eaque, atque a exercitationem magnam architecto est nemo!</p>
        </span>
    </div>
    <div class="col-md-1">

    </div>
</div>