/* .card-header{
    background-color: #c0f6ef;
}
.card-body{
    background-color: #e8fffc;
}
.card-footer{
    background-color: #6ccef8;
} */
.card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
}
.card-text{
    font-size: 2em;
}
.card-img{
    width: 20vw;
}
.title{
    text-align: center;
    font-size: 5vh;
    margin: 2em
}