<div class="default-bg-color">
  <div class="row pt-3 g-0">
    <h1 class="title default-text-color g-0">Experiencia Laboral:</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 d-flex" *ngFor="let curExp of experiences">
        <div class="card d-flex default-bg-color my-4 mx-2 p-0 w-100">
          <div class="card-body details p-0">
            <div class="row justify-content-between p-2 m-1 pe-0 me-0">
              <div class="col-11 justify-content-between pe-0">
                <div
                  class="row card-title p-0 m-0"
                  [contentEditable]="utils.isLogged()"
                  [(contenteditableModel)]="curExp.companyName"
                  (click)="utils.selectText($event)"
                >
                  {{ curExp.companyName }}
                </div>

                <div class="row m-0 p-0 g-0 card-subtitle">
                  <span
                    class="row p-0 m-0"
                    [contentEditable]="utils.isLogged()"
                    [(contenteditableModel)]="curExp.jobPosition"
                    (click)="utils.selectText($event)"
                  >
                    {{ curExp.jobPosition }}
                  </span>
                  <span
                    class="row p-0 m-0"
                    [contentEditable]="utils.isLogged()"
                    [(contenteditableModel)]="curExp.period"
                    (click)="utils.selectText($event)"
                  >
                    {{ curExp.period }}
                  </span>
                </div>
              </div>
              <div class="col-1 p-0" *ngIf="utils.isLogged()">
                <div
                  class="nav nav-pills card-header-pills m-0 p-0 d-flex justify-content-center"
                >
                  <div class="btn p-1" (click)="deleteExperience(curExp.id); loadExperience()">
                    <i class="bi bi-trash3"></i>
                  </div>
                </div>
                <div
                  class="nav nav-pills card-header-pills m-0 d-flex justify-content-center"
                >
                  <div
                    class="btn p-1"
                    (click)="updateExperience(curExp.id, curExp)"
                  >
                    <i class="bi bi-check2-square"></i>
                  </div>
                </div>
                <div
                  class="nav nav-pills card-header-pills m-0 d-flex justify-content-center"
                >
                  <div class="btn p-1" (click)="loadExperience()">
                    <i class="bi bi-x-square"></i>
                  </div>
                </div>
              </div>
              <div class="row m-0 p-0 ps-5">
                <div
                  [contentEditable]="utils.isLogged()"
                  [(contenteditableModel)]="curExp.details"
                  (click)="utils.selectText($event)"
                  class="card-text"
                >
                  {{ curExp.details }}
                </div>
              </div>
            </div>
          </div>
          <div
            class="card-footer card-footer-bg m-0 g-0 py-0"
            *ngIf="curExp.recomendations"
          >
            <h6 class="m-0">Referencias:</h6>
            <div
              class="card-footer-text p-0 m-0 text-multiline"
              [contentEditable]="utils.isLogged()"
              [(contenteditableModel)]="curExp.recomendations"
              (click)="utils.selectText($event)"
            >
              {{ curExp.recomendations }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex" *ngIf="utils.isLogged()">
        <div class="card d-flex bg-transparent my-4 mx-2 p-0 w-100">
          <div class="card-body details p-0">
            <button
              type="button"
              class="btn btn-ligth w-100 h-100"
              (click)="addExperience()"
              style="color: white"
            >
              <h2><i class="bi bi-plus-circle"></i></h2>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
