<div class="row">
  <div class="container-fluid">
    <div class="1 text-center"></div>
    <div class="col-1 float-right"></div>
  </div>
</div>

<div class="container">
  <h1 class="title">Experiencia Laboral:</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      type="button"
      class="btn btn-ligth pull-left"
      routerLink="newExperience"
      *ngIf="isLogged"
    >
      <h2><i class="bi bi-plus-circle"></i></h2>
    </button>
  </div>
</div>

<div class="row">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card m-5" *ngFor="let curExp of experience">
          <div class="card-header">
            <div
              class="nav nav-pills card-header-pills d-flex justify-content-end"
              *ngIf="isLogged"
            >
              <div class="btn" routerLink="/ChangeExperience/{{ curExp.id }}">
                <i class="bi bi-pencil-square"></i>
              </div>

              <div class="btn" (click)="deleteExperience(curExp.id)">
                <i class="bi bi-trash3"></i>
              </div>
            </div>
            <h4 class="card-title">
              {{ curExp.companyName }} - {{ curExp.period }}
            </h4>
            <!-- TODO: -->
            <h5 class="card-title">{{ curExp.jobPosition }}</h5>
          </div>

          <div class="card-body">
            <p class="card-text">{{ curExp.details }}</p>
          </div>
          <div class="card-footer" *ngIf="curExp.recomendations">
            <p class="carf-text">referencias: {{ curExp.recomendations }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
