<div class="row">
  <h1 class="title">Experiencia Laboral:</h1>

  <div class="col-xs-2">
    <button
      type="button"
      class="btn btn-primary"
      routerLink="newexperience"
      *ngIf="isLogged"
    >
      Agregar
    </button>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card m-5" *ngFor="let curExp of experience">
          <div class="card-header">
            <h4 class="card-title">
              {{ curExp.companyName }} - {{ curExp.period }}
            </h4>
            <!-- TODO: -->
            <h5 class="card-title">CARGO NOT IMPLMENTED</h5>
          </div>

          <div class="card-body">
            <p class="card-text">{{ curExp.details }}</p>
          </div>
          <div class="card-footer" *ngIf="curExp.recomendations">
            <p class="carf-text">referencias: {{ curExp.recomendations }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
