<div class="default-bg-color">
  <div class="row pt-3 g-0">
    <h1 class="title default-text-color g-0">Educacion:</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6 d-flex" *ngFor="let curEdu of education">
        <div class="card d-flex default-bg-color my-4 mx-2 p-0 w-100">
          <div class="card-body details p-0">
            <div class="row justify-content-between p-2">
              <div class="col-11 justify-content-between">
                <div class="row m-0 p-0">
                  <h4
                    [contentEditable]="isLogged"
                    [(contenteditableModel)]="curEdu.entityName"
                    class="card-title"
                  >
                    {{ curEdu.entityName }}
                  </h4>
                </div>
                <div class="row mt-0 card-subtitle">
                  <span
                    [contentEditable]="isLogged"
                    [(contenteditableModel)]="curEdu.title"
                    class="mt-0"
                  >
                    {{ curEdu.title }}
                  </span>
                </div>
                <div class="row px-4">
                  <p
                    [contentEditable]="isLogged"
                    [(contenteditableModel)]="curEdu.details"
                    class="text-justify text-multiline"
                  >
                    {{ curEdu.details }}
                  </p>
                </div>
              </div>
              <div class="col-1" *ngIf="isLogged">
                <div class="nav nav-pills card-header-pills m-0 p-0">
                  <div class="btn p-1" (click)="deleteEducation(curEdu.id)">
                    <i class="bi bi-trash3"></i>
                  </div>
                </div>
                <div class="nav nav-pills card-header-pills m-0">
                  <div
                    class="btn p-1"
                    (click)="updateEducation(curEdu.id, curEdu)"
                  >
                    <i class="bi bi-check2-square"></i>
                  </div>
                </div>
                <div class="nav nav-pills card-header-pills m-0">
                  <div class="btn p-1" (click)="loadEducation()">
                    <i class="bi bi-x-square"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex" *ngIf="isLogged">
        <div class="card d-flex bg-transparent mt-4 mx-2 p-0 w-100">
          <div class="card-body details p-0">
            <button
              type="button"
              class="btn btn-ligth w-100 h-100"
              (click)="addEducation()"
              style="color: white"
            >
              <h2><i class="bi bi-plus-circle"></i></h2>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
