<div class="default-bg-color">
  <div class="row pt-3 g-0">
    <h1 class="title default-text-color g-0">Educacion:</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6 d-flex" *ngFor="let curEdu of education">
        <div class="card d-flex default-bg-color my-4 mx-2 p-0 w-100">
          <div class="card-body details p-0">
            <div class="row justify-content-between p-2 m-1 pe-0 me-0">
              <div class="col-11 justify-content-between pe-0">
                <div
                  class="row card-title p-0 m-0"
                  [contentEditable]="utils.isLogged()"
                  [(contenteditableModel)]="curEdu.entityName"
                  (click)="utils.selectText($event)"
                  >
                  {{ curEdu.entityName }}
                </div>
                <div class="row m-0 p-0 g-0 card-subtitle">
                  <span
                    [contentEditable]="utils.isLogged()"
                    [(contenteditableModel)]="curEdu.title"
                    (click)="utils.selectText($event)"
                    class="mt-0"
                  >
                    {{ curEdu.title }}
                  </span>
                </div>
              </div>
              <div class="col-1 p-0" *ngIf="utils.isLogged()">
                <div
                  class="nav nav-pills card-header-pills m-0 p-0 d-flex justify-content-center"
                >
                  <div class="btn p-1" (click)="deleteEducation(curEdu.id); loadEducation()">
                    <i class="bi bi-trash3"></i>
                  </div>
                </div>
                <div
                  class="nav nav-pills card-header-pills m-0 d-flex justify-content-center"
                >
                  <div
                    class="btn p-1"
                    (click)="updateEducation(curEdu.id, curEdu)"
                  >
                    <i class="bi bi-check2-square"></i>
                  </div>
                </div>
                <div
                  class="nav nav-pills card-header-pills m-0 d-flex justify-content-center"
                >
                  <div class="btn p-1" (click)="loadEducation()">
                    <i class="bi bi-x-square"></i>
                  </div>
                </div>
              </div>
              <div class="row m-0 p-0 ps-5">
                <div
                  [contentEditable]="utils.isLogged()"
                  [(contenteditableModel)]="curEdu.details"
                  (click)="utils.selectText($event)"
                  class="card-text"
                >
                  {{ curEdu.details }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex" *ngIf="utils.isLogged()">
        <div class="card d-flex bg-transparent my-4 mx-2 p-0 w-100">
          <div class="card-body details p-0">
            <button
              type="button"
              class="btn btn-ligth w-100 h-100"
              (click)="addEducation()"
              style="color: white"
            >
              <h2><i class="bi bi-plus-circle"></i></h2>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
