.card-header {
    background-color: #c0f6ef;
  }
  
  .card-footer {
    background-color: #a8ba82;
  }
  .card-footer-text {
    color: #e8eff1;
  }
  
  .title {
    text-align: center;
    font-size: 5vh;
  }