.text-name {
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}


.font-weight-normal {
  font-weight: 300;
}

#photo {
  margin: 0.5vw;
  margin-top: -30%;
  box-shadow: 10px 10px 10px grey;
  width: 20vw;
  z-index: 100;
}

@media (max-width: 575px) {
  #photo {
    margin: 0.5vw;
    margin-top: -10%;
    width: 40vw;
    align-items: center;
  }
  #photoContainer {
    display: flex;
    justify-content: center;
  }
}
