<div class="row g-0 default-text-color default-bg-color">
  <div class="col-2">
    <div id="photoContainer" class="d-flex">
      <img
        class="img-fluid rounded-circle"
        id="photo"
        src="../../../assets/foto perfil.png"
        alt="Foto del desarrollador"
      />
    </div>
  </div>
  <div class="col-8 m-0">
    <div class="row">
      <div class="d-flex justify-content-center align-items-center text-center">
        <span class="text-capitalize h1 pt-2">
          {{ user.fullName }}
          <br />
          {{ user.jobPosition }}
        </span>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-11">
        <div class="justify-content-end text-center g-0 mt-5 mb-0">
          <span>
            <h1>Acerca de mi:</h1>
            <p class="h3 font-weight-normal">
              {{ user.aboutMe }}
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
