<div class="container-fluid default-bg-color">
  <div class="row d-flex justify-items-center">
    <div class="row pt-3">
      <div class="col">
        <h1 class="title default-text-color m-0 p-0 g-0 mb-2">Proyectos:</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8" *ngFor="let curPrj of projects">
        <div class="card d-flex mt-4 mx-2 p-0 w-100">
          <div class="row m-0 p-0 g-0">
            <div class="col-3 d-flex">
              <img class="card-img img-fluid" src="{{ curPrj.imgLink }}" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ curPrj.name }}</h5>
                <p class="card-text">
                  {{ curPrj.description }}
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div
          *ngIf="isLogged"
          class="card d-flex bg-transparent mt-4 mx-2 p-0 w-100"
        >
          <button
            type="button"
            class="btn btn-ligth"
            routerLink="newExperience"
            style="color: white"
          >
            <h2><i class="bi bi-plus-circle"></i></h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
