.card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}
.card-text{
    font-size: 1em;
}
.card-img{
    width: 20vw;
}
.title{
    text-align: center;
    font-size: 5vh;
    margin: 2em
}