
/* #banner{
    background-image: url("../../../../assets/banner.png");
    /*height: 15vh;
    /*background-size: cover;*//*
    size:contain;
} */

/*#nameCaption{
    color:white;
    font-weight:900;
    font-family:'Times New Roman', Times, serif;
}*/