<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-md-6 login-form">
      <h3>Login:</h3>
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Email"
            value=""
            id="userName"
            name="userName"
            [(ngModel)]="userName" required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            value=""
            id="password"
            name="password"
            [(ngModel)]="password" required
          />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Login" />
        </div>
        <div class="form-group">
          <!-- <a href="#" class="ForgetPwd" value="Login">Forget Password?</a> -->
        </div>
      </form>
    </div>
  </div>
</div>
