<div class="container-fluid">
    <!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <img src="../../../assets/foto perfil.PNG" alt="Foto del desarollador" class="img-fluid" >
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 h2 d-flex align-items-end" id="nameCaption">
        <p>Mario Adrian Turk - Desarollador Fullstack</p>
    </div> -->
    <div class="row no-gutters">
            <img src="../../../assets/banner.png" alt="banner" class="img-fluid p-0 m-0" >
    </div>
</div>
