<div class="container">
  <div class="row">
    <div>
      <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
        <div class="form-group">
          <label for="companyName">Nombre de la empresa:</label>
          <input
            type="text"
            name="companyName"
            id="companyName"
            class="form-control"
            [(ngModel)]="companyName"
            required
          />
        </div>
        <div class="form-group">
          <label for="jobPosition">Puesto:</label>
          <input
            type="text"
            name="jobPosition"
            id="jobPosition"
            class="form-control"
            [(ngModel)]="jobPosition"
            required
          />
        </div>

        <div class="form-group">
          <label for="period">Periodo:</label>
          <input
            type="text"
            name="period"
            id="period"
            class="form-control"
            [(ngModel)]="period"
            required
          />
        </div>
        <div class="form-group">
          <label for="details">Detalle:</label>
          <textarea
            rows="8"
            name="details"
            id="details"
            class="form-control"
            [(ngModel)]="details"
            required
          ></textarea>
        </div>

        <div class="form-group">
          <label for="recomendations">Referencias:</label>
          <textarea
            rows="5"
            name="recomendations"
            id="recomendations"
            class="form-control"
            [(ngModel)]="recomendations"
            required
          ></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Guardar" />
      </form>
    </div>
  </div>
</div>
